html {
  font-size: 18px;
  font-family: helvetica;
  line-height: 1.4;
}

.site {
  width: 960px;
}

.siteplus72 {
  width: 1032px;
}

.banner {
  background-image: url("../images/glasses-bg.png");
  background-size: cover;
  background-position: center;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.heading {
  display: flex;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
  color: white;
  background-color: cadetblue;
  font-size: 1rem;
  margin-top: 1rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 1.5rem;
}

.logo p {
  padding-left: 1rem;
}

.menu ul {
  display: flex;
}

.menu li {
  padding: 1rem 0 1rem 2rem;
}

.bannercaption {
  display: flex;
  justify-content: flex-end;
}
.bannercaption h1 {
  background-color: white;
  padding: 1.5rem 5rem;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
  margin-top: 10rem;
}
