html {
  font-size: 18px;
  font-family: helvetica;
  line-height: 1.4;
}

.container {
  display: flex;
  justify-content: center;
}

.site {
  width: 960px;
}

.siteplus72 {
  width: 1032px;
}

.banner {
  background-image: url("../images/glasses-bg.png");
  background-size: cover;
  background-position: center;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.heading {
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: cadetblue;
  font-size: 1rem;
  margin-top: 1rem;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 2rem;
}

.logo img {
  height: 1.5rem;
}

.logo p, .footlogo p {
  padding-left: 1rem;
}

.menu ul {
  display: flex;
}

.menu li {
  padding: 1rem 2rem 1rem 0rem;
}

.brief {
  display: none;
}

.bannercaption {
  display: flex;
  justify-content: flex-end;
}

.bannercaption h1 {
  background-color: white;
  padding: 1.5rem 5rem;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
  margin-top: 10rem;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services {
  display: flex;
  justify-content: space-space-between;
}

.service {
  display: flex;
  flex-direction: column;
  height: 8rem;
  width: 5rem;
  margin: 3rem;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.exams img {
  width: 3.5rem;
}

.fittings img, .delivery img {
  width: 5rem;
}

.about {
  display: flex;
}

.about h2 {
  width: 10rem;
  color: white;
  background-color: cadetblue;
  font-weight: bold;
  padding: .5rem 1.25rem;
}

.about p {
  margin-top: 1rem;
}

.philosophy, .appointments {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin-left: 5%;
}

footer {
  display: flex;
  justify-content: flex-start;
  background-color: azure;
  margin-top: 5rem;
}

.footlogo {
  display: flex;
  align-items: center;
}

footer img {
  height: 1.5rem;
  padding: 4rem 0 4rem 4rem;
}

@media only screen and (max-width: 1024px) {

  .site, .siteplus72 {
    width: 100%;
  }

  .heading {
    margin-top: 0rem;
  }

  .banner {
    height: 22rem;
  }

  .bannercaption h1 {
    padding: .75rem 4rem;
    font-size: 1.33rem;
    margin-top: 5rem;
    margin-right: 2rem;
  }

}

@media only screen and (max-width: 700px) {

  .brief {
    display: initial;
  }

  .full, .heading p {
    display: none;
  }

  .about h2 {
    width: auto;
  }

}

@media only screen and (max-width: 470px) {

  .banner {
    height: 17rem;
    background-position: 20%;
  }

  .bannercaption h1 {
    width: 100%;
    font-size: 1rem;
    text-align: center;
    margin: 9rem 0rem 0rem 0rem;
    padding: 1rem;
  }

  .services {
    flex-direction: column;
    margin: 3.77rem;
  }

  .service {
    margin: 0rem;
    font-size: .77rem;
  }

  .fittings img, .delivery img {
    margin-top: 1.54rem;
  }

  .about {
    flex-direction: column;
    width: 100%;
  }

  .about h2 {
    width: 100%;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }

  .philosophy, .appointments {
    width: auto;
    margin-left: 0;
  }

  .philosophy p, .appointments p {
    margin: 1rem 0 4rem .5rem;
    font-size: .77rem;
  }

  footer {
    margin-top: 0rem;
    justify-content: center;
  }

  .footlogo p {
    display: none;
  }

  footer img {
    padding-right: 4rem;
  }

}
